<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/index.html#clients">clients</a></li>
        <li><a href="/index.html#project-spotlight">project spotlight</a></li>
        <li><a href="/team.html">team</a></li>
        <li><a href="/contact.html">contact us</a></li>
        <li class="twitter"><a href="https://twitter.com/positiondev/">twitter</a></li>
    </ul>
</nav>

<p> &copy; 2024 Position Development, LLC.</p>

<p><a href="mailto:workers@positiondev.com">workers@positiondev.com</a></p>


<script async src="https://www.googletagmanager.com/gtag/js?id=G-M0VCMZPTR2"></script>
<script>
      <!-- Google tag (gtag.js) -->
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M0VCMZPTR2');

    (function() {
        const h2s = document.getElementsByTagName("h2")

        for (i = 0; i < h2s.length; i++) {

        h2s[i].className = "nothover";

        h2s[i].addEventListener("mouseover", function(e) {
            if (e.target) {
            e.target.className = "hover";
            }
        });

        h2s[i].addEventListener("mouseout", function(e) {
            if (e.target) {
            e.target.className = "nothover";
            }
        });
        }
    }())
</script>