<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Custom software development">

{% if page.title == "home" %}
<title>position development</title>
{% else %}
<title>position development: {{ page.title }}</title>
{% endif %}

<link rel="stylesheet" href="styles/style.css" />

<script type="application/ld+json"> { "@context" : "http://schema.org", "@image": "https://positiondev.com/img/logo.png", "@type" : "LocalBusiness", "name" : "position development", "email" : "workers@positiondev.com", "address" : { "@type" : "PostalAddress", "streetAddress" : "20 Jay Street", "addressLocality" : "Brooklyn", "addressRegion" : "NY", "addressCountry" : "USA", "postalCode" : "11201" }, "url" : "https://positiondev.com/" } </script>

<!--
<style>
  {{ site.data.css }}
</style>
-->