body
{
    font-family: helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.25em;

    color: 444;
}

/* HEADINGS */
h1
{
    font-size: 2.5em;
    line-height: 1em;

    color: black;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}
h1 a
{
    text-decoration: none;

    color: black;
}
h2
{
    transition: 1s;

    color: black;
    background: -webkit-linear-gradient(0deg, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #ff2400);
    -webkit-background-clip: text;
    background-size: 900% 900%;

    -webkit-text-fill-color: black;
    margin-bottom: 0.5em;
}
h3
{
    color: black;
}

/* HEADER */

header {
    margin-left: 0.5em;
}

.header-wrapper
{
    width: 100%;
}

/* NAV */
nav
{
    margin: .5em;
}
nav h2
{
    display: none;
}
nav ul
{
    width: 100%;
    margin: 0;
    padding: 0;
}
nav ul li
{
    display: inline;

    margin: 0;
    padding: 0 0.5em 0 0;
}
.twitter a {
    background-image: url("/img/twitter-32.png");
    width: 28px;
    height: 28px;
    display: inline-block;
    padding: 0px;
    margin-left: 0.5em;
    background-size: 28px 28px;
    color: transparent;
}

/* MAIN and SECTION */
main
{
    font-size: 18px;

    max-width: 50em;
    margin: 1.5em .25em 1.5em .25em;
}
section
{
    margin: .25em;
    margin-top: 2.5em;
    /*! margin-bottom: 2em; */
}

/* Testimonial section */
blockquote
{
    margin-right: 0;
    margin-left: 0;
    padding-left: 1em;

    border-left: 5px solid grey;
}
.byline
{
    text-align: right;
}

/* Clients section */
.clients h3
{
    font-size: 1em;
    font-weight: normal;
}
.clients ul
{
    display: flex;

    width: 100%;
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;

    list-style: none;

    flex-wrap: wrap;
}
.clients li
{
    display: flex;
    flex-direction: column;

    text-align: center;

    justify-content: flex-end;
    align-items: center;
}

/* Team section */
.team ul
{
    width: 100%;
    padding-left: 0;

    list-style: none;
}
.team h3
{
    margin-top: 2em;
    margin-bottom: 0;
}

.team li:first-child h3 {
    margin-top: 1em;
}

footer {
    text-align: center;
    margin: auto;
}

/* FORMS */

fieldset
{
    display: flex;
    flex-direction: column;

    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}
input
{
    font-size: 1em;
    border: 1px solid #999;
}
input[type='submit']
{
    padding: .5em;
    border-radius: 5px;
}
.basic-data label
{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.tell-more
{
    display: block;

    margin-top: 1em;
    margin-bottom: 1em;
}
textarea
{
    font-size: 1em;
    line-height: 1.25em;

    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 0 0 1em;
    padding: .5em;

    border: 2px solid #888;
}
.button-wrapper
{
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
}
#thank-you
{
    display: none;
}

/* SIZE-SPECIFIC STYLES */
@media only screen and (min-width:50em)
{
    body
    {
        font-size: 18px;
        line-height: 1.5em;
    }

    header,
    nav
    {
        max-width: 50em;
        margin: auto;
    }

    nav {
        margin-top: 1em;
    }

    footer,
    footer nav
    {
        max-width: 40em;
        margin: auto;
    }

    section
    {
        font-size: 1em;

        margin-top: 3em;
    }
    .mission
    {
        margin-top: 1em;
    }
    main
    {
        margin: auto;
    }
    .contact-us > div
    {
        width: 100%;
    }

    h1
    {
        font-size: 4em;

        width: 50%;
        margin-bottom: 0;
        margin-top: 1em;
    }
    h2
    {
        font-size: 3em;
        line-height: 1em;

        width: 100%;
        margin-bottom: 0;
    }
    .project h3
    {
        margin-top: 1em;
    }

    /* RAINBOW HOVER */
    .nothover
    {
        color: black;
    }
    .hover
    {
        -webkit-animation: rainbow 6s ease infinite;
             -o-animation: rainbow 6s ease infinite;
             -z-animation: rainbow 6s ease infinite;
                animation: rainbow 6s ease infinite;

        background: -webkit-linear-gradient(0deg, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #ff2400);
        -webkit-background-clip: text;
        background-size: 900% 900%;

        -webkit-text-fill-color: transparent;
    }

    /* FORMS */
    form
    {
        margin-bottom: 3em;
        max-width: 30em;
        margin: auto;
    }
}

/* Client section size-specific styles */
@media only screen and (min-width:500px)
{
    .clients li
    {
        margin: .5em;
    }
}
@media only screen and (max-width:500px)
{
    .clients li
    {
        width: 45%;
        margin: .25em;
    }
}

/* ANIMATION */
@-webkit-keyframes rainbow
{
    0%
    {
        background-position: 0 82%;
    }
    50%
    {
        background-position: 100% 19%;
    }
    100%
    {
        background-position: 0 82%;
    }
}
@-moz-keyframes rainbow
{
    0%
    {
        background-position: 0 82%;
    }
    50%
    {
        background-position: 100% 19%;
    }
    100%
    {
        background-position: 0 82%;
    }
}
@-o-keyframes rainbow
{
    0%
    {
        background-position: 0 82%;
    }
    50%
    {
        background-position: 100% 19%;
    }
    100%
    {
        background-position: 0 82%;
    }
}
@keyframes rainbow
{
    0%
    {
        background-position: 0 82%;
    }
    50%
    {
        background-position: 100% 19%;
    }
    100%
    {
        background-position: 0 82%;
    }
}